.track {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0px 16px;
    margin: 16px 0;
}

.track__waveform {
    width: 100%;
    margin: 1rem auto;
}

.track--dark {
    background-color: #20232ade;
}

.track--invisible {
    opacity: 0;
}

/* Peaks.js style overrides */
.overview-container {
    height: 36px;
}